<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="Tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./Tests</directory>
      <directory>./Controller</directory>
      <directory>./Form</directory>
      <directory>./Repository</directory>
      <directory>./Resource</directory>
      <directory>./Entity</directory>
      <file>./Nav.php</file>
      <file>./Event.php</file>
      <file>./TwigBlock.php</file>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="KERNEL_CLASS" value="Eccube\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="0"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    <env name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
    <!-- define your env variables for the test env here -->
  </php>
  <!-- テストの場所 -->
  <testsuites>
    <testsuite name="Plugin Test Suite">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
  <!-- 出力するログファイル
    <logging>
        <log type="coverage-clover" target="./reports/coverage.clover"/>
    </logging>
    -->
  <!-- カバーレージのターゲット -->
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    <listener class="\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener"/>
  </listeners>
</phpunit>
